
body{
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
main{
  padding: 10px;
  max-width:  1000px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

img{
  max-width: 100%;
}

form{  
  max-width: 400px;
  margin: 0 auto;
}

form input{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 7px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

form button{
  display: block;
  width: 100%;
  background-color: var(--foreground-color);
  border: 0;
  color: var(--secondary-text-color);
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1, form.register h1{
  text-align: center;
  margin-bottom: 10px;
}

a, button{
  cursor: pointer;
}