*{
  margin: 0;
  padding: 0;
  /* To include paddings to the overall box width */
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

:root{
  --background-color: #fff;
  --foreground-color: #333;
  --primary-text-color: #333;
  --secondary-text-color: #fff;
  --border-color: #ddd;

  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}
/* If tag has such attribute */
[data-theme="dark"]{
  --background-color: #131516;
  --foreground-color: #262a2b;
  --primary-text-color: #c8c3bc;
  --secondary-text-color: #e8e6e3;
  --border-color:#736b5e;

  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


