.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 700px){
    .post{
        grid-template-columns: 0.9fr 1.1fr;
    }
}

.info{
    display: flex;
    gap: 10px;
    margin: 6px 0;
}

.post, .info{
    color: #555;
    font-size: 0.7rem;
}

.post__texts, .info, .author{
    flex: 1;
    font-size: 1.8rem;
    color: #333;
}

.image_container{
    flex: 1;
}

.post .image_container img{
    border-radius: 10px;
}

.description{
    margin: 10px 0;
    line-height: 1.4rem;
}