.content{
    width: 100%;

}

.delete_btn{
    display: block;
    max-width: 10rem;
    margin: 0 auto;
    margin-top: 10px;
    
    padding: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--foreground-color);
}
.delete_btn:hover{
    border: 1px solid rgb(173, 86, 86);
}


.delete_btn p{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.delete_btn p svg{
    height: 2rem;
}