.post_page .image_container{
    max-height: 200px;
    display: flex;
    overflow: hidden;
}

.post_page .image_container img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

.post_page a{
    color: var(--foreground-color);
    text-decoration: underline;
}
.post_page h1{
    text-align: center;
    margin: 10px 0 5px;
}
.post_page time{
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}
.post_page .author{
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.7rem;
    font-weight: bold;
}

.post_page .content{
    line-height: 1.6rem;
}

.post_page .edit_btn_container{
    text-align: center;
    margin-bottom: 20px;
}

.post_page .edit_btn{
    display: inline-block;
    background-color: var(--foreground-color);
    color: var(--secondary-text-color);
    align-items: center;
    gap: 5px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.post_page a svg{
    height: 20px;
}


